canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
}
canvas#background {
  display: grid;
  width: 100%;
}
main {
  position: absolute;
  font-size: 69px;
  color: aquamarine;
  opacity: 0.3;
}