canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
}
canvas#background {
  display: grid;
  width: 100%;
}
main {
  position: absolute;
  font-size: 35px;
  color: white;
  opacity: 0.7;
  display: grid;
  text-align: center;
  width: 50%;
  right: 25%;
  display: none;
  
}
p {
  margin-right: 200px;
  margin-left: 200px;
}
#color-palette {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.color {
  width: 20px; /* set the width of the color elements */
  height: 20px; /* set the height of the color elements */
  margin: 2px; /* add some space between the color elements */
  border: 1px solid #ccc; /* add a border to the color elements */
  cursor: pointer; /* show the pointer cursor when hovering over the color elements */
}
.head {
  background-color: black;
  border-radius: 98px;
  margin-bottom: 100px;
  margin-top: 50px;
  padding: 60px;
}
section {
  width: 100%;
  border: 0px;
  border-style: solid;
  background-color: black;
  box-shadow: lightgray;
  align-items: center;
  border-radius: 200px;
  margin-bottom: 100px;
}
